.index
  .test
    div
      width: 9em;
      margin: 1.8em 1.2em;
      background: url("assets/map.png");
      float: left;
      padding: 6.7em 0 1em;
      font-size: 5em;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      font-kerning: inherit;
      background-size: 9em;
      background-repeat: no-repeat;
      
    & :nth-child(2) 
        float: right;
      background: url("assets/map2.png");
      