body,
html {
  height: 100%;
}
.viewport {
  position: relative;
}
.viewport > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.viewport > *:not(.active) {
  display: none;
}
body.stage > header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
body.stage > article {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body.stage > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.panel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
.panel > article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: Amasis, serif;
  overflow: hidden;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  color: #075e7d;
  background: #fbf3dc;
  font-weight: bold;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@media only screen and (min-width: 192px) {
  body {
    font-size: 0.1em;
  }
}
@media only screen and (min-width: 384px) {
  body {
    font-size: 0.2em;
  }
}
@media only screen and (min-width: 576px) {
  body {
    font-size: 0.3em;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.4em;
  }
}
@media only screen and (min-width: 1152px) {
  body {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 1344px) {
  body {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 1536px) {
  body {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 1728px) {
  body {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1920px) {
  body {
    font-size: 1em;
  }
}
body.stage > header {
  display: block;
}
body.stage > article {
  bottom: 0;
}
body.stage > footer {
  height: 5em;
}
.panel > header {
  height: 40px;
  line-height: 40px;
}
.panel.startup > header {
  background: url("assets/logo.png") no-repeat;
  z-index: 3;
  height: 10em;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-size: 23em;
}
.panel.startup > header h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fffeff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-weight: normal;
}
.panel.startup > header button {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), color-stop(0.5, rgba(255,255,255,0.1)), color-stop(0.5, rgba(255,255,255,0))), #476b9d;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4);
  margin: 7px;
  padding: 5px 12px;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.panel.startup > header button:active {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4), inset 0 0 20px rgba(255,255,255,0.2);
}
.index .test div {
  width: 9em;
  margin: 1.8em 1.2em;
  background: url("assets/map.png");
  float: left;
  padding: 6.7em 0 1em;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-kerning: inherit;
  background-size: 9em;
  background-repeat: no-repeat;
  cursor: pointer;
}
.index .test :nth-child(2) {
  float: right;
  background: url("assets/map2.png");
  background-size: 9em;
  background-repeat: no-repeat;
}
.index > header {
  background: url("assets/logo.png") no-repeat;
  z-index: 3;
  height: 10em;
  background-size: 23em;
  position: absolute;
  top: 0;
  left: 50%;
  width: 23em;
  margin-left: -12em;
}
.index > footer {
  background-size: 23em;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 23em;
  margin-left: -12em;
}
.index > footer .set_lang {
  text-transform: uppercase;
  text-decoration: none;
  color: #075e7d;
  text-align: center;
  font-size: 3em;
  display: block;
  z-index: 10;
}
.quiz header,
.result header,
.answer header {
  height: 7em;
}
.quiz header .restart,
.result header .restart,
.answer header .restart {
  float: left;
  font-size: 3em;
  margin: 1em 2em;
  color: #e26d2d;
  text-transform: uppercase;
}
.quiz header .set_lang,
.result header .set_lang,
.answer header .set_lang {
  float: right;
  font-size: 3em;
  margin: 1em 2em;
  color: #e26d2d;
  text-transform: uppercase;
}
.intro article {
  text-align: center;
}
.intro article h1 {
  font-size: 6.3em;
  text-transform: none;
  font-weight: bolder;
  margin: 1.7em 2em 0;
  line-height: 1.2em;
}
.intro article button {
  font-size: 8em;
  text-transform: uppercase;
  font-family: Amasis, serif;
  font-weight: bold;
  background: #e26d2d;
  color: #075e7d;
  padding: 0.1em 0.3em;
  margin-top: 1.15em;
  border: 0.07em solid #78c1df;
}
.quiz article {
  text-align: center;
}
.quiz article img {
  height: 29em;
}
.quiz article h2 {
  font-size: 3.86em;
}
.quiz article ol {
  text-align: left;
  width: 33em;
  margin: 0;
  background: #fff;
  padding: 0.1em 4.1em 0.1em 15em;
  font-size: 2.3em;
  list-style-type: lower-alpha;
}
.quiz article ol li {
  margin: 0.6em 0;
  cursor: pointer;
}
.answer article {
  text-align: center;
}
.answer article img {
  height: 29em;
}
.answer article h2 {
  text-align: left;
  background: #fff;
  padding: 1em 2em;
  font-size: 3.1em;
}
.answer article button {
  font-size: 5em;
  text-transform: uppercase;
  font-family: Amasis, serif;
  font-weight: bold;
  background: #e26d2d;
  color: #075e7d;
  padding: 0.1em 0.3em;
  margin-top: 0;
  border: 0.06em solid #78c1df;
}
.result article > div {
  border: 0.3em solid #78c1df;
  text-align: center;
  margin: 16em 10em;
  padding: 2em;
}
.result article > div h2 {
  font-size: 4em;
}
.result article > div h3 {
  font-size: 3em;
}
.quiz .clothing img {
  display: none;
}
.quiz .clothing h2 {
  font-size: 4em;
  margin: 3.5em 3em;
}
#quiz1 article .personality.q5 h2 {
  font-size: 2.2em;
}
#quiz1 article .personality.q8 h2,
#quiz1 article .personality.a4 h2 {
  font-size: 2.5em;
}
#quiz1 article .clothing.a1 h2 {
  font-size: 2.2em;
}
#quiz1 article .clothing.a3 h2,
#quiz1 article .clothing.a4 h2,
#quiz1 article .clothing.a6 h2,
#quiz1 article .clothing.a7 h2,
#quiz1 article .clothing.a8 h2,
#quiz1 article .clothing.a9 h2 {
  font-size: 2.5em;
}
#quiz1 article .clothing.q1 h2,
#quiz1 article .clothing.q5 h2 {
  font-size: 3.5em;
}
#quiz1 article .clothing.a5 h2 {
  font-size: 1.6em;
}
