body,
html {
  height: 100%;
}
.viewport {
  position: relative;
}
.viewport > * {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.viewport > *:not(.active) {
  display: none;
}
body.stage > header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
body.stage > article {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body.stage > footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.panel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;
}
.panel > article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: Amasis, serif;
  overflow: hidden;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  color: #075e7d;
  background: #fbf3dc;
  font-weight: bold;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@media only screen and (min-height: 108px) and (min-width: 192px) {
  body {
    font-size: 0.1em;
  }
}
@media only screen and (min-height: 216px) and (min-width: 384px) {
  body {
    font-size: 0.2em;
  }
}
@media only screen and (min-height: 324px) and (min-width: 576px) {
  body {
    font-size: 0.3em;
  }
}
@media only screen and (min-height: 432px) and (min-width: 768px) {
  body {
    font-size: 0.4em;
  }
}
@media only screen and (min-height: 540px) and (min-width: 960px) {
  body {
    font-size: 0.5em;
  }
}
@media only screen and (min-height: 648px) and (min-width: 1152px) {
  body {
    font-size: 0.6em;
  }
}
@media only screen and (min-height: 756px) and (min-width: 1344px) {
  body {
    font-size: 0.7em;
  }
}
@media only screen and (min-height: 864px) and (min-width: 1536px) {
  body {
    font-size: 0.8em;
  }
}
@media only screen and (min-height: 972px) and (min-width: 1728px) {
  body {
    font-size: 0.9em;
  }
}
@media only screen and (min-height: 1080px) and (min-width: 1920px) {
  body {
    font-size: 1em;
  }
}
body.stage > header {
  display: block;
}
body.stage > article {
  bottom: 0;
}
body.stage > footer {
  height: 5em;
}
.panel > header {
  height: 40px;
  line-height: 40px;
}
.panel.startup > header {
  background: url("assets/logo.png") no-repeat;
  z-index: 3;
  height: 10em;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-size: 23em;
}
.panel.startup > header h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fffeff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-weight: normal;
}
.panel.startup > header button {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
  font-size: 13px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), color-stop(0.5, rgba(255,255,255,0.1)), color-stop(0.5, rgba(255,255,255,0))), #476b9d;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4);
  margin: 7px;
  padding: 5px 12px;
  border: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.panel.startup > header button:active {
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3), inset 0 1px 1px 0 rgba(0,0,0,0.6), 0 1px 0 rgba(255,255,255,0.4), inset 0 0 20px rgba(255,255,255,0.2);
}
.index .test {
  background: url("assets/map2.png");
}
.index .test div {
  width: 9em;
  margin: 1.8em 1.2em;
  background: url("assets/map.png");
  float: left;
  padding: 6.7em 0;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-kerning: inherit;
  background-size: 9em;
  background-repeat: no-repeat;
}
.index .testnth-child(2) {
  float: right;
}
body >footer.step1 .step1 circle:nth-child(1),
body >footer.step2 .step2 circle:nth-child(1),
body >footer.step3 .step3 circle:nth-child(1),
body >footer.step4 .step4 circle:nth-child(1),
body >footer.step5 .step5 circle:nth-child(1),
body >footer.step6 .step6 circle:nth-child(1),
body >footer.step7 .step7 circle:nth-child(1) {
  stroke: #fff !important;
}
body >footer.step1 .step1 circle:nth-child(2),
body >footer.step2 .step2 circle:nth-child(2),
body >footer.step3 .step3 circle:nth-child(2),
body >footer.step4 .step4 circle:nth-child(2),
body >footer.step5 .step5 circle:nth-child(2),
body >footer.step6 .step6 circle:nth-child(2),
body >footer.step7 .step7 circle:nth-child(2) {
  fill: #fff !important;
}
body >footer.step8 {
  background: url("assets/piano.png");
  background-size: 75em;
  background-repeat: no-repeat;
  background-position-x: center;
}
body >footer.step8 .progress,
body >footer.step8 .restart,
body >footer.step8 .set_lang {
  display: none;
}
body >footer.step9 {
  display: none;
}
