body#quiz4 {
    color: #075e7d;
    background: white;
    font-family:calibri;
}

#quiz4 .index > header {
    left:0;
    margin-left:0;
}

#quiz4 header .restart, #quiz4 header .set_lang {
    color:#005786;
    text-transform:lowercase;
    
}


#quiz4 .panel article {
  margin-top: 16em;
}
#quiz4 .panel.quiz article ol {
  padding: 0.1em 4.1em 0.1em 3em;
  font-size: 4em;
  width: 12em;
}
#quiz4 .panel.quiz article h2 {
  font-size: 5em;
  margin: 1em 0.2em;
}

#quiz4 .panel.answer article h2 {
  text-align: justify;
}
#quiz4 .panel.answer article h3 {
  font-size: 3em;
  display: block;
}

#quiz4 .index .test div {
  width: 11em;
  margin: 2.8em 1.2em;
  background: url("assets/quiz4_front.png");
  float: left;
  padding: 8.7em 0 1em;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-kerning: inherit;
  background-size: 11em;
  background-repeat: no-repeat;
  cursor: pointer;
}

#quiz4 .index .test div span {
  font-size: 0.9em;
  display: block;
  border: 0.1em solid #78c1df;
  padding: 0.4em 0;
}
#quiz4 .index > footer {
  bottom: 7em;
}

/*
#quiz4 .panel.quiz article .q2 h2,
#quiz4 .panel.quiz article .q3 h2,
#quiz4 .panel.quiz article .q6 h2,
#quiz4 .panel.quiz article .qx h2 {
  font-size: 4em;
}

#quiz4 .panel.quiz article .q4 h2,
#quiz4 .panel.quiz article .q10 h2,
#quiz4 .panel.quiz article .q5 h2 {
  font-size: 3.3em;
}


#quiz4 .panel.quiz article .q7 h2 {
  font-size: 3.8em;
}

#quiz4 .panel.quiz article .q8 h2,
#quiz4 .panel.quiz article .q9 h2 {
  font-size: 3.4em;
}
#quiz4 .panel.answer article .a4 h2 {
    font-size: 2.8em;        
}


#quiz4.en .panel.quiz article .q3 h2 {
  font-size: 3.4em;
}
*/